{% extends 'blog/base.html' %}
{% block title %} {{ cats }} {% endblock %}


{% block content %}

{% if category_posts %}
    <h1>{{ cats }}</h1><br/>

    <h4>Posts from this category:</h3><br/>
    <ul>
    <!---
    {% for post in category_posts %}
        {% if post.published_date %}
            <li>
                <strong><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></strong> 
                <span style="float: right;">{{ post.published_date }}</span><br/>
                
                <span style="float: right;"> By: {{ post.author }}</span><br/>
            {{ post.text|truncatewords:200|safe }}</li>
            <hr>
        {% endif %}

    {% endfor %}
    </ul>
-->

{% else %}
    <h2>Sorry this page does not exist...</h2>
{% endif %}

{% endblock %}