{% extends 'blog/base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
    <article class="post">
        <aside class="actions">
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                Edit {% include './icons/pencil-square.svg' %}
            </a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
                Delete {% include './icons/x-square-fill.svg' %}
            </a>            
        {% if post.published_date %}
            <div class="date" style="margin-left: 10px;">
                <small>By: {{ post.author }}</small><br/>
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
    </aside>
    <h2>
        {{ post.title }} - <small><a href="{% url 'category' post.category %}">{{ post.category }}</a></small>
      </h2>
        <hr>
        <br/>
        <br/>
        <br/>
        <p>{{ post.text|safe }}</p>
    </article>

    <a href="{% url 'post_list' %}" class = "btn btn-secondary">Back</a>
    <hr>
    <form action = "{% url 'like_post' post.pk %}" method = "POST">
        {% csrf_token %}
            {% if post.published_date %}
                {% if user in post.likes.all %}    
                    <button type = "submit", name = "post_id", value = "{{ post.id }}", class = "btn">
                        {% include './icons/heart-fill.svg' %}
                    </button>
                
                {% else %}
                    <button type = "submit", name = "post_id", value = "{{ post.id }}", class = "btn">
                        {% include './icons/heart.svg' %}
                    </button>
                {% endif %}
            
                |    &nbsp;&nbsp;&nbsp;{{ total_likes }} Likes <br/>
            {% endif %}

    </form>


{% endblock %}