{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% for post in posts %}
            <article class="post">
                <time class="date">
                    {{ post.published_date }}
                </time>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
    {% else %}
        <h1>Login</h1>    
        <br/>
        <form method="POST" action="{% url 'post_list' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="username", placeholder="Username" required>
            </div>
            <br/>
            <div class="form-group">
            <input type="password" class="form-control" name="password", placeholder="Password" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    {% endif %}
{% endblock %}