{% extends 'blog/base.html' %}
{% block title %} Posts {% endblock %}
{% block content %}

{% if user.is_authenticated %}

    <h1>Posts</h1><br/>
    <ul>
    {% for post in posts %}
        <li>
            <strong><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></strong> - 
            <small><a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a> </small>

            <span style="float: right;">{{ post.published_date }}</span><br/>
            
            <span style="float: right;"> By: {{ post.author }}</span><br/>

            {{ post.text|truncatewords:50|safe }}
            <hr>
        </li>
    {% endfor %}
    </ul>
</ul>
    {% else %}
        <h1>Login</h1>    
        <br/>
        <form method="POST" action="{% url 'post_list' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="username", placeholder="Username" required>
            </div>
            <br/>
            <div class="form-group">
            <input type="password" class="form-control" name="password", placeholder="Password" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    {% endif %}
{% endblock %}